
body {
    background-image: url('img/wed.jpg');
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;

}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container img {
    width: 105px;
    height: 100%;
}
.Side_Img img {
    width: 650px;
    height: 517px;
}
.website-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

.website-footer p {
    margin: 0;
    font-size: 14px;
}
footer {
    text-align: bottom;
}